                                        /* GENERAL */
:root {
    --primary-brand-color: #4D5AE5;
    --shadow-headings-color: #2E2F42;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
    --light-background-color: #FFFFFF;
    --hero-button-click: #404BBF;
    --modal-window-bg: #FCFCFC;
    --transition-dur-and-func: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text-color);
    margin: 0;
}
                                        /* STYLES RESET */
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-inline-start: 0;
}
img{
    display:block;
    max-width: 100%;
}
button{
    cursor:pointer;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
                                            /* HEADER */
.logo, .nav-list-item-link, .contact-item-link {
    text-decoration: none;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    margin-right: 77px;
    text-decoration: none;
    margin-right: 77px;
    }
.logo-studio-up {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--shadow-headings-color);
}
.nav-list-item-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);

    position: relative;

    transition: color 250ms var(--transition-dur-and-func);
}
.contact-item-link {
    font-size: 16px;
    line-height: 1.5;
    color: var(--body-text-color);
    text-decoration: none;

    transition: color 250ms var(--transition-dur-and-func);
}
.nav-list, .contact-list, .button-filters-list, .gallery-list, .principles-section-list, .what-we-are-doing-list, .our-team-list {
    list-style: none;
}
.nav-list-item-link:hover, 
.nav-list-item-link:active, 
.nav-list-item-link:focus,
.contact-item-link:hover,
.contact-item-link:visited {
    color: var(--primary-brand-color);
}
.page-header-container {
    display: flex;
    align-items: center;
}
.header-box {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-section,.nav-list,.contact-list {
    display: flex;
    align-items: center;
}
.contact-list {
    margin-left: auto;
}
.nav-list-item:not(:last-child),
.contact-item:not(:last-child) {
    margin-right: 40px;
}
.nav-list-item-link, .contact-item-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.current{
    color: var(--primary-brand-color);
}
.underline-portfolio::after{
    content: '';
    display: block;
    width: 66px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-brand-color); 
    
    bottom: 0;
    left: 0;
    position: absolute;
}
.underline-studio::after{
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-brand-color); 
    
    position: absolute;
    bottom: 0;
    left: 0;
}

                                        /* BUTTON-FILTERS */
.button-filter {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--light-mode-color);
    border: none;
    border-radius: 4px;
    padding: 12px 24px;

    transition: background-color 250ms var(--transition-dur-and-func), color 250ms var(--transition-dur-and-func), 
    border 250ms var(--transition-dur-and-func), box-shadow 250ms var(--transition-dur-and-func);
}
.button-filter:hover, .button-filter:focus, .button-filter-active {
    background-color: var(--primary-brand-color);
    color: var(--light-background-color);
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero-button:hover,
.subscribe-form-submit:hover {
    background: var(--primary-brand-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-button:active,
.subscribe-form-submit:active {
    background: var(--hero-button-click);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.hero-button{
    font-family: inherit;
    padding: 16px 32px;
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: var(--light-background-color);
    transition: box-shadow 250ms var(--transition-dur-and-func), background-color 250ms var(--transition-dur-and-func);
   }
                                            /* HERO */
.hero-section-title {    
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--light-background-color);
    margin-bottom: 48px;
}
.hero-section{
    height: 603px;
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
 }
 .background{
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url("../images/hero/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }
.hero-section-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

                                            /* PRINCIPLES */
.principles-section-list-item-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);
}
.principles-section-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
.principles-section-list{
    display: flex;
}
.principles-section-list-item{
    width: calc((100% - 24px * 3) / 4);
}
.principles-section-list-item:not(:last-child){
    margin-right: 24px;
}
.principles{
    padding-top: 120px;
    padding-bottom: 120px;
}
.principles-section-list-item-header{
    margin: 8px 0px;
}
.principle-icon-div{
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-mode-color);
    border-radius: 4px;
}
                                        /* WHAT WE ARE DOING */
.what-we-are-doing-header, .our-team-header, .customers-header {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);
    margin-bottom: 72px;
    text-align: center;
}
.what-we-are-doing{
    padding-bottom: 120px;
}
.what-we-are-doing-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.what-we-are-doing-list{
    display: flex;
}
.img-doing-item:not(:last-child){
    margin-right: 24px;
}
.img-doing-item{
    width: calc((100% - 24px * 2) / 3);
}
                                                /* OUR TEAM */
.our-team-list-item-header{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);
    text-align: center;
}
.our-team-list-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
.our-team{
    background-color: var(--light-mode-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-team-list-item{
    background-color: var(--light-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.our-team-list-item{
    width: calc((100% - 24px * 3) / 4);
}

.our-team-list-item-header-and-text{
    padding: 32px 16px;
}

.our-team-list-item:not(:last-child){
    margin-right: 24px;
}
.our-team-header{
    text-align: center;
}
.our-team-list{
    display: flex;
    align-items: center;
    justify-items: center;
}
.our-team-list-item-text{
    margin-top: 8px;
    text-align: center;
}
.social-media-list{
    margin-top: 8px;
    display: flex;
    list-style-type:none;
}
.social-list-link{
   text-decoration:none;
   
}
.social-media-list-item:not(:last-child){
    margin-right: 24px;
}
.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
}
.social-icon{
    fill: var(--light-mode-color);
}

                                        /* GALLERY */
.gallery-list-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);
}
.gallery-title{
    text-align: center;
}
.gallery-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    margin-top: 8px;
}
.button-filters-list{
    display: flex;
    justify-content:center;
    margin-bottom: 72px;
}
.button-filters-list-item:not(:last-child){
    margin-right: 24px;
}
.gallery-list-item{
    margin-bottom: 48px;
    margin-right: 24px;
    border: 0.5px solid var(--light-mode-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition: border 250ms var(--transition-dur-and-func), box-shadow 250ms var(--transition-dur-and-func),
     transform 250ms var(--transition-dur-and-func);
}
.gallery-list-item:hover, .gallery-list-item-link:hover, .gallery-list-item:focus {
    border: 0.5px solid var(--light-mode-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-list-item-link:hover .overlay{
    transform: translate(0, 0);
}
.gallery{
    padding-top: 96px;
    padding-bottom: 120px;
}
.gallery-div{
    padding-left: 0;
    padding-right: 0;
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;    
    margin-right: -24px;
    margin-bottom: -48px;
}
.gallery-header-and-text{
    padding: 32px 16px;
}
.overlay-div{
    position: relative;
    overflow: hidden;
}
.overlay{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--light-mode-color);
    background-color: var(--primary-brand-color);

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    overflow: auto;
    transform: translate(0, 100%);

    transition: transform 250ms var(--transition-dur-and-func);
}
.gallery-list-item-link{
    text-decoration: none;
}
                                    /* CUSTOMERS */
.customers-list{
    list-style-type: none;
    display: flex;
}
.customers-section{
    padding: 120px 0px;
}
.customers-list-link{
    display: flex;
    height: 88px;
    justify-content: center;
    align-items: center;
    border-radius: 4px; 
    border: 1px solid var(--helper-text-color);
    border-radius: 4px;

    transition: border 250ms var(--transition-dur-and-func);
}
.customers-list-item:not(:last-child){
    margin-right: 24px;
}
.customers-list-item{
    width: calc((100% - 120px) / 6);
}

.customers-list-link:hover>.customers-icon, .customers-list-link:focus>.customers-icon{
    fill: var(--primary-brand-color);
}
.customers-list-link:hover, .customers-list-link:focus{
    border: 1px solid var(--primary-brand-color);
}
.customers-icon{
    fill: var(--helper-text-color);
    width: 104px;
    height: 56px;
    /* padding: 16px 32px; */

    transition: fill 250ms var(--transition-dur-and-func)
}
                                        /* FOOTER */
.footer-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-top: 16px;
}
.footer {
    background-color: var(--shadow-headings-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-div{
    display: flex;
}
.text-and-logo-div{
    margin-right: 120px;
}
.logo-studio-down{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--light-mode-color);
}
.soc-media-list{
    list-style-type: none;
    display: flex;
}
.soc-media-p{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-background-color);
    margin-bottom: 16px;
}
.soc-media-list-item:not(:last-child){
    margin-right: 16px;
}
.social-icon-footer{
    fill: var(--light-mode-color);
}
.social-list-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--transition-dur-and-func);
}
.social-list-link-footer:hover, 
.social-list-link-footer:focus{
    background-color: var(--success-color);
}


                                    /* MODAL WINDOW */
.backdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms var(--transition-dur-and-func), visibility 250ms var(--transition-dur-and-func);
}
.modal-window{
    width: 408px;
    height: 576px;
    background-color: var(--modal-window-bg);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 70px 24px 24px 24px;
}
.modal-window-close-icon{
    width: 8px;
    height: 8px;
}
.modal-close-btn{
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 24px;
    right: 24px;

    transition: fill 250ms var(--transition-dur-and-func),
                background-color 250ms var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus{
    fill: var(--light-background-color);
    background-color: var(--hero-button-click);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--modal-window-bg);
    padding-left: 38px;

    transition: border-color 250ms var(--transition-dur-and-func);
}
.modal-form-input-decs {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--helper-text-color);
    margin-bottom: 4px;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-input-icon {
    display: block;
    width: 18px;
    height: 18px;

    transition: fill 250ms var(--transition-dur-and-func);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    left: 16px;

    fill: var(--shadow-headings-color);
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input:focus,
.modal-form-message:focus,
.subscribe-form-input:focus {
    border-color: var(--primary-brand-color);
    outline: none;
}

.modal-form-input:focus+.modal-form-input-icon {
    fill: var(--primary-brand-color);
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--modal-window-bg);

    transition: border-color 250ms var(--transition-dur-and-func);


    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc::before {
    display: block;
    content: '';
    height: 16px;
    width: 16px;
    border: 1.25px solid var(--shadow-headings-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;

    transition: background-color 250ms var(--transition-dur-and-func),
        border 250ms var(--transition-dur-and-func);
}

.modal-form-check:checked+.modal-form-check-desc::before {
    background-image: url("../images/svg/checkbox.svg");
    background-color: var(--hero-button-click);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-form-check:focus+.modal-form-check-desc::before {
    border-color: var(--primary-brand-color);
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}

.modal-form-submit {
    font-family: inherit;
    padding: 16px 32px;
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: var(--light-background-color);
    align-self: center;
    transition: box-shadow 250ms var(--transition-dur-and-func), 
                background-color 250ms var(--transition-dur-and-func);
}

.modal-form-submit:hover,
.subscribe-form-submit:hover {
    background: var(--primary-brand-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-form-submit:active,
.subscribe-form-submit:active {
    background: var(--hero-button-click);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);

    margin-bottom: 16px;
}

.soc-media-div {
    margin-right: 80px;
}

.subscribe-form-input-desc {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-background-color);
    margin-bottom: 16px;
}

.subscribe-form-input {
    height: 40px;
    width: 264px;
    background-color: transparent;
    padding-left: 16px;
    margin-right: 24px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    transition: border-color 250ms var(--transition-dur-and-func);
}

.subscribe-form-submit {
    font-family: inherit;
    padding: 8px 24px;

    background: var(--primary-brand-color);
    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--light-background-color);

    align-self: center;
    height: 40px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 0;

    transition: box-shadow 250ms var(--transition-dur-and-func), 
                background-color 250ms var(--transition-dur-and-func);

} 
.subsctibe-icon{
   margin-left: 16px;
}